/*input[type="text"]{
    margin: 0.2em;
}
input[type="submit"]{
    background-color: cadetblue;
    border-radius: 15px;

}
input[type="reset"]{
    background-color: rgb(50, 152, 236);
    border-radius: 15px;

}/*
