*{
    margin: 0;
    padding: 0;
}

body{
    font-family: montserrat;
    margin: 0;
}
header{
    background-color: #EDB9FF;
    display: flex;
    height: 70px;
    justify-content: center;
    padding: 10px;
}

.logo{
    align-items: center;
    background-color: #EDB9FF;
    display: flex;
    height: 50px;
}

.logo img{
    background-color: #EDB9FF;
    height: 50px;
}

.title{
    background-color: #EDB9FF;
}